@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*Reset CSS*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: rgba(30, 30, 30, 0.04);
    
}

header {
    margin: 3vh 4vw 3vh 4vh;
    text-align: center;
}

main {
    text-align: center;
}

hr{
    opacity: 0.1;
    border: 0.3vh solid;
    margin-bottom: 5vh;
}

a {
    text-decoration: none;
    cursor: pointer;
}

.link-head {
    margin-right: 2vw;
    font-family: "JetBrains Mono", monospace;
    color: #45474C;
    font-size: 1vw;
    font-weight: 500;
}

.link-head:hover {
    color: #0078D4;
}

.OS-head {
    margin-right: 25%;
    font-weight: 900;
    font-size: 1.6vw ;
    color: #091426;
}

.btn-head {
    margin-left:25% ;
    background-color: #091426;
    color: #FFFFFF;
    font-family: "JetBrains Mono", monospace;
    font-size: 0.8vw;
    width: 8vw;
    height: 3.5vh;
    cursor: pointer;
}

.btn-head:hover {
    opacity: 0.8;
}

p {
    font-size: 1vw;
    margin: 2.5vh 0;
}

.text-title {
    font-size: 1.4vw;
    width: 50vw;
    margin-left: 25vw;
}

h1 {
    font-size: 2vw;
    font-weight: 700;
}
h2 {
    text-align: start;
    font-size: 1.5vw;
    font-weight: 700;
}

.title-windows {
    color: #0078D4;
    margin-top: 1vh;
}

.title-ubuntu {
    color: #E95420;
    margin-top: 1vh;
}

.title-macos{
    color: #191C1E;
    margin-top: 1vh;
}
/*Estilizando paragrafo das informações dos sistemas*/
.sobre {
    width: 95%;
    text-align: justify;
}

article {
    margin-bottom: 7vh;
    width: 80vw;
    margin-left: 9vw;
    background-color: #FFFFFF;
}

.art-windows {
    border-top: 1vh solid #0078D4;
    border-radius: 1%;
    box-shadow:inset
}

.art-ubuntu {
    border-top: 1vh solid #E95420;
    border-radius: 1%;
}

.art-macos {
    border-top: 1vh solid #191C1E;
    border-radius: 1%;
}

section {
    width: 41%;
    display: inline-block;
    margin-right: 2vw;
}

.sec-ubuntu {
    margin-right: 0;
    margin-left: 3.2vw;
}

img {
    width: 40%;
    display: inline-block;
}

footer {
    text-align: center;
    background-color: rgba(69, 71, 76, 0.10);
    height: 5%;
}



@media screen and (max-width: 900px) {
    .link-head {
        display: none;
    }

    .OS-head {
        font-size: 7vw;
        margin: 0 auto;
        display: block;
    }

    .btn-head {
        font-size: 3.5vw;
        width: 32vw;
        margin: 2.5vh auto;
        display: block;
    }
}

